streamlit==1.25.0
docx==0.2.4
pdfplumber==0.7.6
faker==19.2.0
spacy==3.7.0
langdetect==1.0.9
Pillow==10.0.0
pytesseract==0.3.10
opencv-python-headless==4.8.0.76
opencv-python==4.8.0.76
numpy==1.23.5
